# Web browser
www-client/firefox geckodriver hwaccel wayland

# Input method
dev-qt/qtgui ibus dbus  # https://wiki.gentoo.org/wiki/IBus
app-i18n/rime-data extra

# Color temperature
x11-misc/redshift geoclue

# Office
app-text/hunspell l10n_en  # enable spelling check in libreoffice

# Suckless
x11-wm/dwm savedconfig xinerama
x11-terms/st savedconfig
x11-misc/dmenu savedconfig xinerama app blog pass
x11-misc/slstatus savedconfig
x11-misc/tabbed savedconfig

# vim: set filetype=gentoo-package-use:
