# Input method
app-i18n/ibus
app-i18n/ibus-rime
app-i18n/rime-data

# Web browser
www-client/firefox

# Notifier
x11-misc/dunst

# Screenshoter
media-gfx/flameshot

# Color temperature
x11-misc/redshift

# Chat
net-im/telegram-desktop-bin

# Office
app-office/libreoffice

# Meeting
net-im/zoom

# Font
media-fonts/noto
media-fonts/noto-cjk
media-fonts/noto-emoji
media-fonts/fontawesome
media-fonts/ubuntu-font-family

# Xorg
x11-apps/xrandr
x11-apps/xinput
x11-apps/xmodmap
x11-apps/setxkbmap
x11-base/xorg-server
x11-misc/picom
x11-misc/unclutter-xfixes

# Suckless
x11-misc/dmenu::an9wer
x11-misc/slstatus::an9wer
x11-misc/tabbed::an9wer
x11-terms/st::an9wer
x11-wm/dwm::an9wer

# vim: set filetype=conf:
